body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fight-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/aWpgWCK.png');
  background-color: #ffffff;
  background-size: cover;
}

.navbar {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.nav-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.formbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: #ffffff;
  z-index: 1000;
  margin-bottom: 10%;
}

.prof-pic {
  display: flex;
  margin-top: 10%;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%
}

.armory {
  display: flex;
}

.input {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}