body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fight-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/aWpgWCK.png');
  background-color: #ffffff;
  background-size: cover;
}

.navbar {
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.nav-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.formbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: #ffffff;
  z-index: 1000;
  margin-bottom: 10%;
}

.prof-pic {
  display: flex;
  margin-top: 10%;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  /* background-image: url('https://cdn.discordapp.com/attachments/900501298049347625/910072991717670932/cd850e057237e7dff105eb8a3c03ea4d_adobespark.png'); */
  /* background-color: red; */
  /* background-size: cover; */
}

.armory {
  display: flex;
}

.input {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}

.stage-info {
  display: flex;
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  color: #ffdb00;
  width: 75vw;
  top: 40px;
  left: 10%;
  justify-content: space-between;
}

.gold {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 80px;
  margin-top: 7px;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://cdn.discordapp.com/attachments/900501298049347625/910313518018994196/loginpage.gif');
  background-repeat: no-repeat;
  /* background-color: red; */
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  /* margin-top: 15px; */
  margin-bottom: 15px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.login-btn {
  height: 30px;
  width: 70px;
  border-radius: 25px;
}

.login-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  border-radius: 35px;
  background-image: url('https://cdn.discordapp.com/attachments/900501298049347625/910663517688987668/2173386-tra-textur-bakgrund-gratis-vector.jpg');
}

.signup-link {
  height: 30px;
  width: 250px;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 10px;
}

.player {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
  transform: translateX(0px);
  height: 35vh;
}

.weapon {
  position: absolute;
  height: 20vh;
  right: 45%;
  margin-top: 35px;
}

.monster {
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  width: 65vh;
}

.monster:active {
  animation: 0.1s shake;
  animation-delay: 500ms;
}

.hp-outer {
  height: 25px;
  width: 200px;
  margin-left: 40%;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.hp-inner {
  background-color: red;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0px solid black;
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 10%;
  }
}

.shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0px);
  }
  10% {
    transform: translate(-3px, 0px);
  }
  20% {
    transform: translate(-5px, 0px);
  }
  30% {
    transform: translate(5px, 0px);
  }
  40% {
    transform: translate(3px, 0px);
  }
  50% {
    transform: translate(-3px, 0px);
  }
  60% {
    transform: translate(-5px, 0px);
  }
  70% {
    transform: translate(5px, 0px);
  }
  80% {
    transform: translate(-3px, 0px);
  }
  90% {
    transform: translate(3px, 0px);
  }
  100% {
    transform: translate(3px, 0px);
  }
}